
.admin-form {
  margin: 0 auto;
  max-width: 720px;
}

.input-group {
  width: 100%;
  display: flex;

  .form-control {
    width: calc(100% - 90px);
  }

  .btn {
    width: 90px;
  }
}

.align-fe {
  align-items: flex-end;
}

.lvl_1 {
  color: #CC0000;
}

.lvl_2 {
  color: #990000;
}

.lvl_3 {
  color: inherit;
}

.lvl_4 {
  color: #009900;
}

.lvl_5 {
  color: #00CC00;
}

.test-results-table {
  width: 100%;
  border: transparent;

  th {
    border: transparent;

    &.first {
      width: 50%;
    }

    &.second {
      width: 5%;
    }
  }
}

.highlighted {
  background-color: rgba(255, 0, 0, .1);
}

table {
  border: none;
  table-layout: fixed;
  width: 100px;

  thead {
    th {
      border: none;
    }

    th.w35 {
      width: 35px;
    }

    th.w25 {
      width: 25px;
    }
  }

  tbody {
    td.w35 {
      width: 35px;
    }

    td.w25 {
      width: 25px;
    }

    td.no-border {
      border: none;
    }

    td.bold {
      font-weight: bold;
    }
    td.selected {
      background-color: rgba(0, 255, 0, 0.2);
      font-weight: bold;
    }
  }
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-height: 1120px;
}
