/* ---------- Typographic ---------- */
$main-font: 'Montserrat', sans-serif;

//$main-font-size: 15px;

/* ---------- Colors ---------- */
$active-color: #0064dd;
$default-text-color: #3b3e45;
$secondary-test-color: #999999;
$title-text-color: #1d1d1f;

/* ---------- Transition ---------- */
$base-transition: all .3s cubic-bezier(.2,.57,.36,.8);
